:root{
  --primary-color: #ed0f0f;
  --primary-light-color: #cf4242;
  --primary-light-color2:rgb(255, 238, 238);
  --primary-dark-color: #ce0606;
  --default-light: #fff;
}

html, body{
  font-family: 'SUIT Variable', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

ul,li{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color:inherit;
}

.wrap{
  position: relative;
}

@media screen and (max-width:1023.98px){
  html, body{
    font-size: 14px !important;
  }
}

@media screen and (max-width:767.98px){
  html, body{
    font-size: 12px !important;
  }
}

/* --------------------
      [공통스타일-btn]
-------------------- */
.btn{
  padding: 0.5rem 0.75rem;
  border-radius: 999px;
  transition: 0.3s;
}

.point-btn{
  background: var(--primary-color);
  color: var(--default-light);
}

.point-btn:hover,
.point-btn:active{
  background: var(--primary-dark-color);
  color: var(--default-light);
}

.outline-btn{
  background: var(--default-light);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.outline-btn:hover,
.outline-btn:active{
  background: var(--primary-light-color);
  border: 1px solid var(--primary-light-color);
  color: var(--default-light);
}

.icon-btn{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}

.underline-btn{
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}
/* --------------------
      [Navbar]
-------------------- */
div[data-name="header"].header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 80px;
  background: var(--default-light);
  z-index: 10;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.1);
  align-content: center;
}

div[data-name="header"] .nav-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 0;
  width: 100%;
}

div[data-name="header"] .nav-wrap > .logo-img > img{
  width: 13.75rem;
  height: 4rem;
}

div[data-name="header"] .nav-wrap > .nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

div[data-name="header"] .nav-item > .lang-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

div[data-name="header"] .nav-item > .lang-dropdown .selected {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 60px;
}

div[data-name="header"] .nav-item > .lang-dropdown .selected::after{
  display: block;
  content: '∨';
  position: absolute;
  bottom: 1.25rem;  
  right:0;
  width: 12px;
  height: 12px;
}

div[data-name="header"] .nav-item > .lang-dropdown .selected.active::after{
  content: '∧';
}

div[data-name="header"] .nav-item > .lang-dropdown > .dropdown {
  position: absolute;
  top: calc( 100% - 6px);
  left: 0;
  width: 100%;
  background-color: var(--default-light);
  color:var(--primary-dark-color);
  border: 1px solid var(--primary-dark-color);
  border-radius: 0.5rem;
  overflow: hidden;
  display: none; 
  z-index: 10;
  text-align: center;
  font-size: 0.875rem;
}

div[data-name="header"] .nav-item > .lang-dropdown > .dropdown > li {
  padding: 0.5rem 1rem;
}

div[data-name="header"] .nav-item > .lang-dropdown .dropdown li:hover {
  background-color: var(--primary-light-color2);
}

div[data-name="header"] .nav-item > .lang-dropdown:hover .dropdown {
  display: block;
}

div[data-name="header"] .nav-item > .menu-item > img{
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* --------------------
      [Footer]
-------------------- */

div[data-name="footer"] .footer-wrap > .footer-top{
  padding: 2rem 0;
  background: #dee2e6;
}

div[data-name="footer"] .footer-wrap > .footer-bottom{
  padding: 2rem 0;
  color: var(--default-light);
  background: #222;
}

div[data-name="footer"] .footer-wrap .footer-item{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

div[data-name="footer"] .footer-wrap .text{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

div[data-name="footer"] .footer-wrap .text >p{
  margin-bottom: 0;
  word-break: keep-all;
}

div[data-name="footer"] .footer-item > .logo-img > img{
  width: 13.75rem;
  height: 5rem;
  margin-bottom: 0.5rem;
}

div[data-name="footer"] .footer-header > .tit{
  font-size: 2rem; 
  font-weight: 700;
}

div[data-name="footer"] .footer-header > .subtit{
  font-size: 1.5rem;
  font-weight: 700;
}

div[data-name="footer"] .sns-wrap {
  display: flex;
  align-items: center;
  gap:0.75rem;
}

div[data-name="footer"] .sns-wrap > .text-icon{
  position: relative;
  padding-right: 24px;
}

div[data-name="footer"] .sns-wrap > .text-icon::after{
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: '';
  display: block;
  background: url("../public/img/foot_1.png")no-repeat center center;
  background-size: contain;
}

div[data-name="footer"] .sns-wrap > .icon{
  width: 20px;
  height: 20px;
}

div[data-name="footer"] .sns-wrap > .icon.insta{
  background: url("../public/img/foot_2.png")no-repeat center center;
  background-size: contain;
}

div[data-name="footer"] .sns-wrap > .icon.fb{
  background: url("../public/img/foot_3.png")no-repeat center center;
  background-size: contain;
}

div[data-name="footer"] .sns-wrap > .icon.blog{
  background: url("../public/img/foot_4.png")no-repeat center center;
  background-size: contain;
}

.sns-wrap > .icon.ytb{
  background: url("../public/img/foot_5.png")no-repeat center center;
  background-size: contain;
}

div[data-name="footer"] .footer-bottom .footer-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div[data-name="footer"] .footer-bottom .footer-inner > ul{
  display: flex;
  align-items: center;
  gap: 2rem;
}

div[data-name="footer"] .footer-bottom .footer-inner > ul > li{
  position: relative;
}

div[data-name="footer"] .footer-bottom .footer-inner > ul > li:not(:last-child)::after{
  content: '';
  display: inline-block;
  width: 1px;
  height: 70%;
  background: var(--default-light);
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right: -1rem;
}

div[data-name="footer"] .footer-bottom .footer-inner .form-select{
  max-width: 200px;
}

/* --------------------
      [Banner]
-------------------- */
div[data-name="banner"].banner-item{
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

div[data-name="banner"].banner-item > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div[data-name="banner"].banner-item > .text-wrap{
  position: absolute;
  top:50%;
  left: 150px;
  transform: translateY(-50%);
  padding: 2.5rem 2rem;
  background: rgba(255,255,255,0.7);
  border-radius: 24px;
  width: 31.25rem;
  height: 16.25rem;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

div[data-name="banner"].banner-item > .text-wrap > .tit{
  font-size: 2.5rem;
  font-weight: 700;
}

div[data-name="banner"].banner-item > .text-wrap > .subtit{
  font-size: 1rem;
  font-weight: 500;
}

div[data-name="banner"] .slick-prev, .slick-next {
  z-index: 1;
}

div[data-name="banner"]  .slick-prev{
  left: 560px;
  top: 42%;
}

div[data-name="banner"] .slick-next{
  left: 600px;
  top: 42%;
}

div[data-name="banner"] .slick-prev:before, .slick-next:before{
  color: rgba(0,0,0,0.7);
  font-size: 1.5rem;
}

@media (min-width:1920px){
  div[data-name="banner"] .slick-prev{
    left: 30%;
  }
  
  div[data-name="banner"] .slick-next{
    left: calc(30% +  40px);
  }
  
}

@media (min-width:2100px){
  div[data-name="banner"] .slick-prev{
    left: 31%;
  }
  
  div[data-name="banner"] .slick-next{
    left: calc(31% + 40px);
  }
  
}

@media (min-width:2350px){
  div[data-name="banner"] .slick-prev{
    left: 33.5%;
  }
  
  div[data-name="banner"] .slick-next{
    left: 35%;
  }
  
}

@media screen and (max-width:1199.98px){
  div[data-name="banner"].banner-item{
    width: 100vw;
    height: 0;
    padding-bottom: 75%;
  }

  div[data-name="banner"].banner-item img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; 
  }

  div[data-name="banner"].banner-item > .text-wrap{
    left: 100px;
  }

  div[data-name="banner"] .slick-prev{
    left: 500px;
    top: 40%;
  }
  
  div[data-name="banner"] .slick-next{
    left: 540px;
    top: 40%;
  }
}


@media screen and (max-width:1023.98px){
  div[data-name="banner"].banner-item > .text-wrap{
    left: 50px;
  }
  
  div[data-name="banner"] .slick-prev{
    left: 390px;
  }
  
  div[data-name="banner"] .slick-next{
    left: 430px;
  }
}

@media screen and (max-width:767.98px){
  div[data-name="banner"] .slick-prev:before, .slick-next:before{
    display: none;
  }

  div[data-name="banner"].banner-item > .text-wrap {
    justify-content: center;
    gap:1.5rem;
  }
}

@media screen and (max-width:649.98px){    
  div[data-name="header"] .nav-wrap > .logo-img > img{
    width: 120px;
  }

  div[data-name="header"] .nav-wrap > .nav-item > .lang-dropdown {
    display: none;
  }

  div[data-name="banner"].banner-item{
    padding-bottom: 100%;
  }
  
  div[data-name="banner"].banner-item > .text-wrap {
    padding: 1rem 1.5rem;
    width: 19rem;
    height: 15rem;
    left: 20px;
  }

  div[data-name="banner"].banner-wrap{
    padding-top: 80px;
  }
  
  div[data-name="banner"].banner-item > .text-wrap > .tit{
    font-size: 2rem;
  }

  div[data-name="footer"] .footer-bottom .footer-inner{
    flex-direction: column;
    gap: 1rem;
  }

  div[data-name="footer"] .footer-bottom .footer-inner >.form-select{
    max-width: 280px;
  }
}
