:root{
  --primary-color: #ed0f0f;
  --primary-light-color: #cf4242;
  --primary-light-color2:rgb(255, 238, 238);
  --primary-dark-color: #ce0606;
  --default-light: #fff;
}

html, body{
  font-family: 'SUIT Variable', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

ul,li{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color:inherit;
}

p{
  margin: 0;
}

.h1,.h2,.h3,.h4,.h5,.h6{
  margin: 0;
}

@media screen and (max-width:1023.98px){
  html, body{
    font-size: 14px !important;
  }
}

@media screen and (max-width:767.98px){
  html, body{
    font-size: 12px !important;
  }
}

/* --------------------
      [공통스타일]
-------------------- */
.wrap{
  position: relative;
}

.bold{
  font-weight: bold;
}

/* --------------------
      [공통스타일-btn]
-------------------- */
.btn{
  padding: 0.5rem 0.75rem;
  border-radius: 999px;
  transition: 0.3s;
}

.point-btn{
  background: var(--primary-color);
  color: var(--default-light);
}

.point-btn:hover,
.point-btn:active{
  background: var(--primary-dark-color);
  color: var(--default-light);
}

.outline-btn{
  background: var(--default-light);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.outline-btn:hover,
.outline-btn:active{
  background: var(--primary-light-color);
  border: 1px solid var(--primary-light-color);
  color: var(--default-light);
}

.outline-btn.active{
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--default-light);
}

.icon-btn{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}

.underline-btn{
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.tab-group{
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

/* --------------------
      [Navbar]
-------------------- */
div[data-name="header"].header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 80px;
  background: var(--default-light);
  z-index: 10;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.1);
  align-content: center;
}

div[data-name="header"] .nav-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 0;
  width: 100%;
}

div[data-name="header"] .nav-wrap > .logo-img > img{
  width: 13.75rem;
  height: 4rem;
}

div[data-name="header"] .nav-wrap > .nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

div[data-name="header"] .nav-item > .lang-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

div[data-name="header"] .nav-item > .lang-dropdown .selected {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 60px;
}

div[data-name="header"] .nav-item > .lang-dropdown .selected::after{
  display: block;
  content: '∨';
  position: absolute;
  bottom: 1.25rem;  
  right:0;
  width: 12px;
  height: 12px;
}

div[data-name="header"] .nav-item > .lang-dropdown .selected.active::after{
  content: '∧';
}

div[data-name="header"] .nav-item > .lang-dropdown > .dropdown {
  position: absolute;
  top: calc( 100% - 6px);
  left: 0;
  width: 100%;
  background-color: var(--default-light);
  color:var(--primary-dark-color);
  border: 1px solid var(--primary-dark-color);
  border-radius: 0.5rem;
  overflow: hidden;
  display: none; 
  z-index: 10;
  text-align: center;
  font-size: 0.875rem;
}

div[data-name="header"] .nav-item > .lang-dropdown > .dropdown > li {
  padding: 0.5rem 1rem;
}

div[data-name="header"] .nav-item > .lang-dropdown .dropdown li:hover {
  background-color: var(--primary-light-color2);
}

div[data-name="header"] .nav-item > .lang-dropdown:hover .dropdown {
  display: block;
}

div[data-name="header"] .nav-item > .menu-item > img{
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* --------------------
      [Footer]
-------------------- */

div[data-name="footer"] .footer-wrap > .footer-top{
  padding: 2rem 0;
  background: #dee2e6;
}

div[data-name="footer"] .footer-wrap > .footer-bottom{
  padding: 2rem 0;
  color: var(--default-light);
  background: #222;
}

div[data-name="footer"] .footer-wrap .footer-item{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

div[data-name="footer"] .footer-wrap .text{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

div[data-name="footer"] .footer-wrap .text >p{
  margin-bottom: 0;
  word-break: keep-all;
}

div[data-name="footer"] .footer-item > .logo-img > img{
  width: 13.75rem;
  height: 5rem;
  margin-bottom: 0.5rem;
}

div[data-name="footer"] .footer-header > .tit{
  font-size: 2rem; 
  font-weight: 700;
}

div[data-name="footer"] .footer-header > .subtit{
  font-size: 1.5rem;
  font-weight: 700;
}

div[data-name="footer"] .sns-wrap {
  display: flex;
  align-items: center;
  gap:0.75rem;
}

div[data-name="footer"] .sns-wrap > .text-icon{
  position: relative;
  padding-right: 24px;
}

div[data-name="footer"] .sns-wrap > .text-icon::after{
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: '';
  display: block;
  background: url("../public/img/foot_1.png")no-repeat center center;
  background-size: contain;
}

div[data-name="footer"] .sns-wrap > .icon{
  width: 20px;
  height: 20px;
}

div[data-name="footer"] .sns-wrap > .icon.insta{
  background: url("../public/img/foot_2.png")no-repeat center center;
  background-size: contain;
}

div[data-name="footer"] .sns-wrap > .icon.fb{
  background: url("../public/img/foot_3.png")no-repeat center center;
  background-size: contain;
}

div[data-name="footer"] .sns-wrap > .icon.blog{
  background: url("../public/img/foot_4.png")no-repeat center center;
  background-size: contain;
}

div[data-name="footer"] .sns-wrap > .icon.ytb{
  background: url("../public/img/foot_5.png")no-repeat center center;
  background-size: contain;
}

div[data-name="footer"] .footer-bottom .footer-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div[data-name="footer"] .footer-bottom .footer-inner > ul{
  display: flex;
  align-items: center;
  gap: 2rem;
}

div[data-name="footer"] .footer-bottom .footer-inner > ul > li{
  position: relative;
}

div[data-name="footer"] .footer-bottom .footer-inner > ul > li:not(:last-child)::after{
  content: '';
  display: inline-block;
  width: 1px;
  height: 70%;
  background: var(--default-light);
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right: -1rem;
}

div[data-name="footer"] .footer-bottom .footer-inner .form-select{
  max-width: 200px;
}

/* --------------------
      [Banner]
-------------------- */
div[data-name="banner"].banner-item{
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

div[data-name="banner"].banner-item > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div[data-name="banner"].banner-item > .text-wrap{
  position: absolute;
  top:50%;
  left: 150px;
  transform: translateY(-50%);
  padding: 2.5rem 2rem;
  background: rgba(255,255,255,0.7);
  border-radius: 24px;
  width: 31.25rem;
  height: 16.25rem;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

div[data-name="banner"].banner-item > .text-wrap > .tit{
  font-size: 2.5rem;
  font-weight: 700;
}

div[data-name="banner"].banner-item > .text-wrap > .subtit{
  font-size: 1rem;
  font-weight: 500;
}

.banner-wrap .slick-prev, 
.banner-wrap .slick-next {
  z-index: 1;
}

.banner-wrap .slick-prev{
  left: 560px;
  top: 42%;
}

.banner-wrap .slick-next{
  left: 600px;
  top: 42%;
}

.banner-wrap .slick-prev:before, 
.banner-wrap .slick-next:before{
  color: rgba(0,0,0,0.7);
  font-size: 1.5rem;
}

@media (min-width:1920px){
  .banner-wrap .slick-prev{
    left: 30%;
  }
  
  .banner-wrap .slick-next{
    left: calc(30% +  40px);
  }
  
}

@media (min-width:2100px){
  .banner-wrap .slick-prev{
    left: 31%;
  }
  
  .banner-wrap .slick-next{
    left: calc(31% + 40px);
  }
  
}

@media (min-width:2350px){
  .banner-wrap .slick-prev{
    left: 33.5%;
  }
  
  .banner-wrap .slick-next{
    left: 35%;
  }
  
}

@media screen and (max-width:1199.98px){
  div[data-name="banner"].banner-item{
    width: 100vw;
    height: 0;
    padding-bottom: 75%;
  }

  div[data-name="banner"].banner-item img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; 
  }

  div[data-name="banner"].banner-item > .text-wrap{
    left: 100px;
  }

  .banner-wrap .slick-prev{
    left: 500px;
    top: 40%;
  }
  
  .banner-wrap .slick-next{
    left: 540px;
    top: 40%;
  }
}


@media screen and (max-width:1023.98px){
  div[data-name="banner"].banner-item > .text-wrap{
    left: 50px;
  }
  
  .banner-wrap .slick-prev{
    left: 390px;
  }
  
  .banner-wrap .slick-next{
    left: 430px;
  }
}

@media screen and (max-width:767.98px){
  .banner-wrap .slick-prev:before, 
  .banner-wrap .slick-next:before{
    display: none;
  }

  div[data-name="banner"].banner-item > .text-wrap {
    justify-content: center;
    gap:1.5rem;
  }
}

@media screen and (max-width:649.98px){    
  div[data-name="header"] .nav-wrap > .logo-img > img{
    width: 120px;
  }

  div[data-name="header"] .nav-wrap > .nav-item > .lang-dropdown {
    display: none;
  }

  div[data-name="banner"].banner-item{
    padding-bottom: 100%;
  }
  
  div[data-name="banner"].banner-item > .text-wrap {
    padding: 1rem 1.5rem;
    width: 19rem;
    height: 15rem;
    left: 20px;
  }

  .banner-wrap{
    padding-top: 80px;
  }
  
  div[data-name="banner"].banner-item > .text-wrap > .tit{
    font-size: 2rem;
  }

  div[data-name="footer"] .footer-bottom .footer-inner{
    flex-direction: column;
    gap: 1rem;
  }

  div[data-name="footer"] .footer-bottom .footer-inner >.form-select{
    max-width: 280px;
  }
}

/* --------------------
      [Main-content]
-------------------- */
div[data-name="main-content"] {
  padding: 5rem 0;
}

/* main-logo */
div[data-name="main-content"] .text-header > .h2,
div[data-name="main-content"] .text-header > .h3{
  font-weight: 700;
}

div[data-name="main-content"] .logo-text{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

div[data-name="main-content"] .logo-text .text-content{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}

div[data-name="main-content"] .text-footer{
  display: flex;
  gap: 1rem;
  align-items: center;
}

div[data-name="main-content"] .text-footer .btn{
  cursor: initial;
  pointer-events: none;
}

@media screen and (max-width:767.98px){
  div[data-name="main-content"] .logo-img > img{
    max-height: 200px;
  }
}

/* main-product */
div[data-name="main-content"] .tab{
  display: flex;
  align-items: end;
}

div[data-name="main-content"] .tab .btn{
  min-width: 7rem;
}

div[data-name="main-content"] .tab-content{
  margin-top: 1rem;
}

div[data-name="main-content"] .tab-content > .content{
  display: none;
}

div[data-name="main-content"] .tab-content > .content.active{
  display: block;
}

@media screen and (max-width:991.98px){
  div[data-name="main-content"] .tab .btn{
    min-width: 6rem;
  }
}

@media screen and (max-width:767.98px){
  div[data-name="main-content"] .tab{
    flex-direction: column-reverse;
    gap:1rem;
  }
  
  div[data-name="main-content"] .tab .tab-group{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
  }

  div[data-name="main-content"] .tab .btn{
    min-width: none;
    width: 100%;
  }
}

@media screen and (max-width:549.98px){
  div[data-name="main-content"] .tab .tab-group{
    grid-template-columns: repeat(3,1fr);
  }
}

/* main-sns */
div[data-name="main-content"] .sns-tit{
  padding-left: 36px;
  position: relative;
  font-weight: 700;
  margin-bottom: 1rem;
}

div[data-name="main-content"] .sns-tit::before{
  content: '';
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
}

div[data-name="main-content"] .insta .sns-tit::before{
  background: url("../public/img/sns_1.png")no-repeat center center;
  background-size: contain;
}

div[data-name="main-content"] .blog .sns-tit::before{
  background: url("../public/img/sns_2.png")no-repeat center center;
  background-size: contain;
}

div[data-name="main-content"] .sns-text{
  word-break: keep-all;
}

div[data-name="main-content"] .sns-text .h3{
  font-weight: 700;
  margin-bottom: 1rem;
}

div[data-name="main-content"] .sns-content{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

div[data-name="main-content"] .blog .sns-img > a{
  display: block;
  padding-bottom: 50%;
  width: 100%;
  position: relative;
}

div[data-name="main-content"] .blog .sns-img a >img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover; 
}

div[data-name="main-content"] .blog .underline-btn{
  color:#222;
  border-color: #222;
}

@media screen and (max-width:1199.98px){
  div[data-name="main-content"] .blog .sns-img > a{
    padding-bottom: 70%;
  }
}

@media screen and (max-width:767.98px){
  div[data-name="main-content"] .blog .sns-img{
    display: none;
  }
}

/* --------------------
      [Sub-content]
-------------------- */
div[data-name="sub-content"] {
  padding: 5rem 0;
}

div[data-name="sub-content"].products {
  padding: 3rem 0 6rem 0;
}

div.subpage{
  padding-top:80px;
}

div[data-name="sub-content"] .tit{
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
  word-break: keep-all;
}

@media screen and (max-width:767.98px){
  div[data-name="sub-content"] .tit{
    font-size: 2rem;
  }
}

/* sub-logo */
div[data-name="sub-content"].sub-logo{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

div[data-name="sub-content"].sub-logo .page-logo > img{
  max-height: 200px;
}

div[data-name="sub-content"] .text-wrap{
  display: flex;
  flex-direction: column;
  gap:1rem;
  word-break: keep-all;
}

@media screen and (max-width:767.98px) {
  div[data-name="sub-content"].sub-logo .page-logo > img{
    max-height: 150px;
  }
}

/* sub-intro */
div[data-name="sub-content"].sub-intro > .tit{
  margin-bottom: 2rem;
}

div[data-name="sub-content"].sub-intro .tit-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

div[data-name="sub-content"].sub-intro p{
  word-break: keep-all;
}

div[data-name="sub-content"].sub-intro .sub-guide{
  padding: 1rem 2rem;
  background: #f8f8f8;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap:1.5rem;
}

div[data-name="sub-content"].sub-intro .sub-guide.border{
  font-size: 1.25rem;
}

div[data-name="sub-content"].sub-intro .sub-guide .btn{
  min-width: 5rem;
  cursor: initial;
  pointer-events: none;
  margin-bottom: 1rem;
}

div[data-name="sub-content"].sub-intro .sub-item > p{
  margin-bottom: 1rem;
}

div[data-name="sub-content"].sub-intro .sub-inner .d-flex{
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}

div[data-name="sub-content"].sub-intro .sub-inner .d-flex .img{
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
}

div[data-name="sub-content"].sub-intro .sub-inner .d-flex .img p{
  margin-top: 1rem;
}

div[data-name="sub-content"].sub-intro .sub-sign {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 2rem;
}

div[data-name="sub-content"].sub-intro .sub-sign .h5{
  font-weight: 700;
}

div[data-name="sub-content"].sub-intro .sub-sign .img{
  width: 100px;
  height: 50px;
}

/* introduce - history */
div[data-name="sub-content"].sub-intro .sub-history{
  display: flex;
  gap: 1rem;
}

div[data-name="sub-content"].sub-intro .sub-history .history-btn{
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

div[data-name="sub-content"].sub-intro .sub-history .history-btn .btn{
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

div[data-name="sub-content"].sub-intro .sub-history .history-btn::before{
  position: absolute;
  top:0;
  left:50%;
  width: 1px;
  height: 100%;
  content: '';
  background: var(--primary-color);
  z-index: 1;
}

div[data-name="sub-content"].sub-intro .sub-history .history-btn::after{
  position: absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  content: '▼';
  color: var(--primary-color);
  z-index: 1;
}

div[data-name="sub-content"].sub-intro .sub-history .history-inner{
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
}

div[data-name="sub-content"].sub-intro .sub-history .history-img{
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

div[data-name="sub-content"].sub-intro .sub-history .content-inner{
  display:flex;
  gap: 1rem;
}

div[data-name="sub-content"].sub-intro .sub-history .history-content{
  width: 40%;
  height: 43rem;
  overflow-y: auto;
  overflow-x: hidden;
}

div[data-name="sub-content"].sub-intro .sub-history .content-inner .content-date{
  width: auto;
  white-space: nowrap;
}

div[data-name="sub-content"].sub-intro .sub-history .content-inner:not(:last-child){
  margin-bottom: 1rem;
}

div[data-name="sub-content"].sub-intro .sub-history .content-inner .content-img{
  width: 100%;
}

@media screen and (max-width:1399.98px){
  
  div[data-name="sub-content"].sub-intro .sub-history .history-img{
    width: 50%;
  }

  div[data-name="sub-content"].sub-intro .sub-history .history-content{
    width: 50%;
    height: 30rem;
  }
}


@media screen and (max-width:767.98px){
  
  div[data-name="sub-content"].sub-intro .sub-history .history-img{
    display: none;
  }

  div[data-name="sub-content"].sub-intro .sub-history .history-content{
    width: 100%;
    height: 40rem;
  }
}

/* introduce - map */
div[data-name="sub-content"].sub-intro div.map-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  margin-bottom: 1rem;
}

/* --------------------
      [Sub-content / lists]
-------------------- */
div.products-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url("../public/img/product_bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 4rem 0;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color:#fff;
}

div[data-name="sub-content"] .product-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  margin-bottom: 2rem;
}

div[data-name="sub-content"] .product-btn .btn-ratio{
  padding: 0.875rem;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 0.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: #fff;
  color:#222;
  border: 1px solid #dee2e6;
}

div[data-name="sub-content"] .product-btn .btn-ratio img{
  width: 45px;
  height: 45px;
}

div[data-name="sub-content"] .product-btn .btn-ratio.active{
  background: var(--primary-light-color2);
  color:var(--primary-color);
  border: 1px solid var(--primary-color);
}

div[data-name="sub-content"] .tab-page{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.875rem;
}

div[data-name="sub-content"] .tab-page button.btn{
  border: 1px solid #dee2e6;
  padding: 0.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  align-content: center;
  transition: 0.3s;
}

div[data-name="sub-content"] .tab-page button.btn:hover{
  background: #dee2e6;
}

div[data-name="sub-content"] .main-info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center
}

div[data-name="sub-content"] .main-title{
  display: flex;
  gap: 0.75rem;
}

div[data-name="sub-content"] .main-title .title{
  font-weight: 700;
}

div[data-name="sub-content"] .main-title a{
  font-size: 1rem;
  position: relative;
}

div[data-name="sub-content"] .main-title a::after{
  content: '';
  width: 0;
  height: 1px;
  bottom: 0;
  position: absolute;
  left:0;
  background: #222;
  transition: 0.3s;
}

div[data-name="sub-content"] .main-title a:hover::after{
  width: 100%;
}

div[data-name="sub-content"] .product-img p{
  margin-top: 0.5rem;
  text-align: center;
  word-break: keep-all;
}
div[data-name="sub-content"] .lists-title{
  font-size: 1.25rem;
  font-weight: 700;
}

div[data-name="sub-content"] .slick-slide {
  padding-right: 1rem;
}

div[data-name="sub-content"].products .slick-slider{
  position: relative;
}

div[data-name="sub-content"].products .slick-prev,
div[data-name="sub-content"].products .slick-next{
  position: absolute;
  top: inherit;
  bottom:-2.5rem;
  width: 2rem;
  height: 2rem;
}

div[data-name="sub-content"].products .slick-prev::before,
div[data-name="sub-content"].products .slick-next::before{
  color:#666;
  font-size: 1.5rem;
}

div[data-name="sub-content"].products .slick-prev{
  left: calc( 50% - 2rem);
  transform: translateX(-50%);
}

div[data-name="sub-content"].products .slick-next{
  left: calc( 50% + 1rem);
  transform: translateX(-50%);
}

@media screen and (max-width:549.98px){
  div[data-name="sub-content"] .product-btn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
    padding: 0 9rem;
  }

  div[data-name="sub-content"] .product-btn .btn{
    margin: 0 auto;
  }

  div[data-name="sub-content"] .product-btn .btn-ratio img {
    width: 36px;
    height: 36px;
  }
}
@media screen and (max-width:399.98px){
  div[data-name="sub-content"] .main-title{
    flex-direction: column;
    gap:0;
  }
}

/* 
    [Sidebar]
 */
div.sidenav{
  position: fixed;
  top:0;
  right:0;
  width: 270px;
  height: 100vh;
  overflow-y: auto;
  background: #fff;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

div.sidenav.active{
  transform: translateX(0);
}

div.sidenav .sidenav-header{
  background: var(--primary-color);
  padding: 1.5rem;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.sidenav .sidenav-header .close-btn{
  width: 24px;
  height: 24px;
  cursor: pointer;
}

div.sidenav .sidenav-content .logo {
  width: 100%;
  height: 80px;
  /* background: #f1f1f1; */
  display: flex;
  align-items: center;
  justify-content: center;
}

div.sidenav .sidenav-content .logo > img{
  width: 120px;
  height: 60px;
}

div.sidenav .sidenav-menu{
  display: flex;
  flex-direction: column;
}

div.sidenav li.main-menu{
  font-size: 1.25rem;
  font-weight: 700;
  border-top: 1px solid #dee2e6;
}

div.sidenav li.main-menu:last-child{
  border-bottom: 1px solid #dee2e6;
}

div.sidenav li.main-menu > p {
  padding: 0.75rem 2rem;
  cursor: pointer;
  position: relative;
}

div.sidenav li.main-menu > p::after{
  position:absolute;
  content: '';
  background: url(../public/img/chevron-down.svg)no-repeat center center;
  background-size: contain;
  width: 16px;
  height: 16px;
  right:10px;
  top:50%;
  transform: translateY(-50%);
  transition: 0.5s;
}

div.sidenav li.main-menu.active > p::after {
  transform: translateY(-50%) rotate(-180deg); 
}

div.sidenav li.main-menu ul{
  display: none;
}

div.sidenav li.main-menu.active ul{
  background-color: #f1f1f1;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-top: 1px solid #dee2e6;
}

div.sidenav li.main-menu ul > li {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

div.sidenav li.main-menu ul > li:not(:last-child){
  margin-bottom: 0.5rem;
}

div.sidebg{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top:0;
  left:0;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
}

div.sidebg.active {
  opacity: 1; /* 활성화되면 나타남 */
  visibility: visible;
}